// Palette
@primary: #5A8339;
@primary-dark: #538135;
@secondary: #DBBE2C;

@palette-darkest: #000000;
@palette-dark: #3D3D3D;
@palette-mid: #575756;
@palette-light: #EDEDED;
@palette-lightest: #ffffff;
@body-bg: @palette-light;
@body-text-color: @palette-lightest;
@seperator-color: @palette-mid;

// Type

@primary-font: 'Montserrat', 'sans-serif';

@weight-strong: 600;
@weight-medium: 300;
@weight-light: 100;

// Wrapper

// Structural
@spacer: 5px;
@border-size: 20px;

// Variable linkage

@wrapper-color: @palette-lightest;
@text-color: @palette-dark;

@ani-speed: 0.3s;