.page-template-page-services, .page-template-contact-page, .hide-contact-form {
    .footer-contents {
        display: none;
    }

    .site-footer::before {
        top: 0;
    }
}


.site-footer {
    background-color: @palette-mid;
    color: @palette-lightest;
    font-weight: @weight-light;
    font-size: 1.2rem;
    line-height: 1.7;
    margin-top: 200px;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        background: url(./assets/background.png);
        background-repeat: repeat-x;
        width: 100%;
        height: 200px;
        display: block;
        background-size: contain;
        background-position: bottom;
        position: absolute;
        top: 100px;
        @media (min-width: @screen-sm-min) {
            top: 400px;
        }
        z-index: 1;
        left: 0;
        right: 0;
        transform: translateY(-100%);
    }

    .footer-contents {
        background: @primary;
        position: relative;
        min-height: 100px;
        @media (min-width: @screen-sm-min) {
            min-height: 400px;
        }

        &::before {
            content: "";
            margin: 0;
            height: 130px;
            background: @primary;
            border-top: 20px solid @secondary;
            display: block;
            width: 110vw;
            top: -65px;
            position: absolute;
            transform: translateX(-5vw) rotate(-5deg);
            -ms-transform: translateX(-5vw) rotate(-5deg);
            transform: translateX(-5vw) rotate(-5deg);
        }
    }



    .container {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;

        @media(min-width: @screen-sm-min) {
            display: flex;
            text-align: left;
        }
    }

    .image {
        display: none;
        @media(min-width: @screen-sm-min) {
            display: block;
            padding-right: 20px;
        }
    }
}