@rotation: 4deg;

.hero {
    img {
        width: 100%;
        height: auto;
    }
}

.jumbo {
    background-size: cover;
    background-position: center;
    min-height: 30vw;
    max-height: 500px;
    display: flex;
    align-items: flex-end;
    padding: 20px 0;

    .container {
        height: 100%;
        display: flex;

        .jumbo-content {
            text-align: left;
            color: white;
            background: @primary;
            padding: 20px;
            @media (min-width: @screen-sm-min) {
                flex: 0 0 40%;
            }

            h1 {
                text-align: left;
                color: white;
            }
        }
    }
}

.page-template-contact-page {

    .content {
        position: relative;
        z-index: 1;
    }

    h1, h2, h3, h4, h5, p, li, a {
        color: white;
    }
}

.page-template-home-page, .page-template-about-page, .single-projects, .single-service {
    .content {
        position: relative;
        z-index: 1;
    }

    h1 {
        text-align: center;
    }

    .contents {
        margin: 50px 0 30px 0;
        text-align: left;
        width: 65%;
    }

    .strip-image {
        width: 100vw;
        position: relative;
        z-index: 3;
        height: 200px;
        @media (min-width: @screen-sm-min) {
            height: 400px;
        }
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: inherit;
        }
    }

    .parallaxed {
        @media (max-width: @screen-md-max) {
            background-size: cover !important;
        }
        /* Create the parallax scrolling effect */
        @media (min-width: @screen-sm-min) {
            background-attachment: fixed;
            background-size: 110vw auto;
        }
        //background-position: center;
        background-repeat: no-repeat;

        position: absolute;
        top: -65px;
        right: 0;
        bottom: -65px;
        left: 0;
    }

    .staff-section {
        background-color: @palette-light;
        color: @primary;
        position: relative;
        z-index: 2;
        padding-top: 110px;
        margin-top: -65px;
        padding-bottom: 65px;

        h2 {
            text-align: center;
        }

        .staff-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .staff {
                font-weight: 300;
                flex: 0 0 100%;
                @media (min-width: @screen-sm-min) {
                    flex: 0 0 46%;
                }
                margin-bottom: 25px;

                h3 {
                    font-weight: 300;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                a {
                    color: @primary;
                    text-decoration: none;
                    font-weight: 300;
                }
            }

            .staff-top {
                padding-bottom: 15px;
                display: flex;
                flex-direction: column;
                @media (min-width: @screen-sm-min) {
                    flex-direction: row;
                    align-items: center;
                }

                .image {
                    flex: 0 0 100%;
                    @media (min-width: @screen-sm-min) {
                        flex: 0 0 35%;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .contact {
                    flex: 0 0 100%;
                    @media (min-width: @screen-sm-min) {
                        flex: 0 0 75%;
                        padding: 15px;
                    }
                }
            }
        }
    }

    .secondary_contents + .secondary_contents {
        padding-top: 300px;
    }
}

.strip {
    background-color: @palette-light;
    color: @primary;
    position: relative;
    z-index: 1;

    &:nth-child(odd) {
        .inner {
            @media (min-width: @screen-sm-min) {
                flex-direction: row-reverse;

                .content-inner {
                    padding-left: 0;
                }
            }
        }

        .content-inner {
            width: 75%;
            margin: 130px 0 85px 0;
            @media (min-width: @screen-sm-min) {
                padding-right: 20px;
            }
        }
    }

    .inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media (min-width: @screen-sm-min) {
            flex-direction: row;
        }

        & > div {
            flex: 0 0 50%;
        }

        .content {
            background-color: @palette-light;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content-inner {
            @media (max-width: @screen-xs-max) {
                width: 60%;
                padding: 20px;
                margin: 20px auto;
                background-color: @palette-light;
            }
            width: 75%;
            margin: 20px 0;
            @media (min-width: @screen-sm-min) {
                padding-left: 20px;
            }
        }
    }
}


.page-template-default, .page-template-page-projects {
    h1 {
        text-align: left;
    }

    .contents {
        margin: 100px auto;
    }
}


.page-template-page-services {
    h1 {
        text-align: left;
    }

    .contents {
        margin: 100px auto;
    }
}

.page-slash {
    position: relative;
    padding-top: 35px;
}

.columns {
    @media (min-width: @screen-sm-min) {
        display: flex;
        justify-content: flex-start;
    }

    h2 {
        color: @palette-lightest;
    }

    .column {
        text-align: left;
        padding: 20px 0;
    }

    .column + .column {
        @media (min-width: @screen-sm-min) {
            margin-left: 50px;
        }
    }
}

.contact-page {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    @media (min-width: @screen-sm-min) {
        flex-direction: row;
    }
}

.contact-details {
    display: flex;
    justify-content: space-between;

    .contact-col {
        flex: 0 0 48%;
    }
}

.contact-list {
    list-style: none;
    padding: 0;

    a {
        text-decoration: none;

        span {
            margin-right: 10px;
        }
    }
}


.strip-image + .page-slash, .strip + .page-slash {
    display: none;
}

.ctf-tweet-content {
    text-align: left;
}

.post-type-archive-service, .post-type-archive-projects {
    .content {
        margin-top: 40px;
    }
}

.page-template-contact-page-php {
    .pulse {
        display: none;
    }
}